body{
    background-color: rgb(137, 203, 225);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: blueviolet;
}

h1{
    color: rgb(195, 2, 2);
    font-size: 8rem;
    text-align: center;
    text-shadow: 25ch;
}

img{
    width: 450px;
    margin: auto;
    display: block;
}

.legenda {
    text-align: center;
   font-size: xx-small;
}